/* Tablet */
@media (min-width: 769px) and (max-width: 1440px) {
  .webpage {
    padding: 20px 10px;
  }
  .webpage .illustration-pc {
    left: 10px;
    top: 50px;
  }
  .webpage .illustration-screen {
    right: 10px;
    top: 50px;
    width: 15%;
  }
  .sidebar {
    width: 30%;
    margin-left: 0;
    margin-left: 20px;
  }
  .container {
    width: 60%;
  }
  .social-list .icon {
    width: 4vw;
    height: 4vw;
  }
  .social-list ion-icon {
    font-size: 2.5vw;
  }
}
/* Mobile */
@media (min-width: 0px) and (max-width: 768px) {
  .webpage {
    padding: 20px 10px;
    flex-direction: column;
    height: 100%;
  }
  .webpage .illustration-screen,
  .webpage .illustration-man,
  .webpage .illustration-pc {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 95%;
    margin-right: 0;
    padding: 40px 0;
    margin-top: 20px;
    order: 3;
  }
  .container .name {
    font-size: 25px;
    display: none;
  }
  .container .job {
    display: none;
  }
  .container .contact {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .container .detail {
    display: block;
  }
  .container .social-list {
    margin-top: 20px;
  }
  .social-list .icon {
    width: 10vw;
    height: 10vw;
  }
  .social-list ion-icon {
    font-size: 6vw;
  }
  .container-information {
    order: 2;
  }

  .sidebar {
    width: 95%;
    margin-left: 0;
    height: 95vh;
    order: 1;
  }
  .sidebar .avt {
    margin-top: 100px;
  }
  .sidebar .name {
    margin-top: -120px;
    font-size: 25px;
    display: block;
    z-index: 1;
  }
  .sidebar .job {
    padding-top: 10px;
    font-size: 20px;
    display: block;
  }
  .license {
    margin-top: 20px;
    position: initial;
    order: 3;
  }
}
