/* Tablet */
@media (min-width: 769px) and (max-width: 1440px) {
  .webpage {
    padding: 20px 10px;
  }
  .sidebar {
    width: 30%;
    margin-left: 0;
    margin-left: 20px;
  }
  .container {
    width: 60%;
  }
  .webpage .illustration-pc {
    left: 10px;
    top: 50px;
  }
  .webpage .illustration-screen {
    right: 10px;
    top: 50px;
    width: 15%;
  }
  .webpage .illustration-man {
    bottom: 10px;
    left: 500px;
  }
}
/* Mobile */
@media (min-width: 0px) and (max-width: 768px) {
  .webpage {
    padding: 20px 10px;
    flex-direction: column-reverse;
    height: 100%;
  }
  .webpage .illustration-screen,
  .webpage .illustration-man,
  .webpage .illustration-pc {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 95%;
    margin-right: 0;
    padding: 40px 0;
    margin-top: 20px;
  }
  .container .name {
    font-size: 25px;
    display: none;
  }
  .container .job {
    display: none;
  }
  .container .contact {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .container .detail {
    display: block;
  }
  .container .social-list {
    margin-top: 20px;
  }
  .sidebar {
    width: 95%;
    margin-left: 0;
    height: 95vh;
  }

  .sidebar .name {
    margin-top: -70px;
    font-size: 25px;
    display: block;
  }
  .sidebar .job {
    padding-top: 10px;
    font-size: 20px;
    display: block;
  }
  .sidebar .menu {
    /* margin-top: 90px; */
  }
}
