* {
  font-family: Poppins, sans-serif;
}

.text-center {
  text-align: center;
}
/* glassmorphism */
.glass-effect-box {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}
.glass-effect-inner {
  color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.308) 100%
  );
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.webpage {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  /* background-color: rgb(206, 235, 255); */
  background: linear-gradient(
    135deg,
    rgba(52, 191, 255, 0.8) 50%,
    rgb(219, 102, 255) 100%
  );
  z-index: -1;
}

.webpage .illustration-screen {
  width: 15%;
  position: fixed;
  right: 120px;
  top: -5px;
  animation: Appear 0.5s ease-in-out;
}
.webpage .illustration-man {
  position: fixed;
  width: 25%;
  right: 30%;
  bottom: 0px;
  animation: Appear 0.5s ease-in-out;
  z-index: 0;
}
.webpage .illustration-pc {
  position: fixed;
  width: 15%;
  top: 0;
  /* left: 200px; */
  left: 0;
  animation: Appear 0.5s ease-in-out;
}
.container {
  width: 50%;
  height: 70%;
  margin-right: 10px;
}
.container-home {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-information {
  display: initial;
}
.container .name {
  color: #333;
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.mark {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}
.mark:before {
  content: "";
  width: 0;
  left: auto;
  right: 0;
  height: 110%;
  background-image: linear-gradient(
    90deg,
    rgba(52, 191, 255, 0.8) 0%,
    rgb(219, 102, 255) 100%
  );
  position: absolute;
  z-index: -1;
  transition: 0.3s;
}
.mark:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}
.container .contact {
  color: #333;
  font-size: 25px;
  font-weight: 600;
  display: none;
}
.container .job {
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  font-size: 20px;
}
.container .detail {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #999;
  opacity: 0.8;
  font-size: 20px;
  display: none;
}
.social-list .icon {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 50px;
}
.social-list .icon:hover {
  color: #6d6d6d;
  background-color: rgb(255, 255, 255, 0.8);
  transition: color 0.5s ease;
}
.icon + .icon {
  margin-left: 30px;
}
.social-list ion-icon {
  margin-left: 2.5px;
  margin-top: 3px;
  font-size: 3vh;
  color: rgb(0, 0, 0, 0.3);
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 15%;
  margin-left: 10px;
  position: relative;
}

.avt {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin-top: 30px;
  text-align: center;
}
.sidebar img {
  margin-top: 11px;
  width: 130px;
  border-radius: 100px;
  margin-left: 2px;
}
.sidebar .info {
  text-align: center;
}
.sidebar .name {
  color: #444;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  display: none;
  position: relative;
}

.sidebar .job {
  color: #999;
  opacity: 0.8;
  font-size: 14px;
  display: none;
}
.sidebar .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  padding-bottom: 20px;
}
.sidebar__item {
  padding: 10px 0;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 100px;
  width: 90%;
  transition: color 0.5s ease;
}
.sidebar__item:hover {
  color: #6d6d6d;
  /* background-color: rgb(255, 255, 255); */
  background: rgb(255, 255, 255, 0.8);
}
.sidebar .menu p {
  display: inline-block;
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
.sidebar ion-icon {
  margin: 0 10px;
  float: right;
  padding-right: 10px;
  font-size: 24px;
}
.license {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  color: #999;
  font-weight: 600;
  font-size: 12px;
}

@keyframes Appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
